<% if (user) { %>
  <div class="user">
    <p class="user__loggedin">Innskr치칧ur sem: <strong><%= user.username %></strong></p>

    <% if (user.admin) { %>
      <a class="user__admin" href="/admin">Vi칧bur칧aumsj칩n</a>
      <a class="user__admin" href="/">Vi칧bur칧ir</a>
    <% } %></p>
    <br /> <!-- 游뱖 -->
    <p class="user__logout"><a href="/logout">칔tskr치</a></p>
  </div>
<% } else { %>
  <div class="link">
    <a class="link__link" href="/login">Innskr치ning</a>
    <a class="link__link" href="/register">N칳skr치ning</a>
  </div>
<% } %>
